<div>
    {% if media.link %}
        <a href="{{ media.link }}" target="_blank">
    {% endif %}
    <img class="ui fluid image" src="{{ media.path }}" alt="{{ media.alt }}"
        {% if media.width is not null %} width="{{ media.width }}" {% endif %}
        {% if media.height is not null %} height="{{ media.height }}" {% endif %}
    />
    {% if media.link %}
        </a>
    {% endif %}

    {% if media.content %}
        {{ sylius_cms_render_content(media) }}
    {% endif %}
</div>
