{% set path = '/media/image/'~block.image.path %}

<div class="bitbag-image-block">
    {% if null == block.name and null == block.link %}
        {% include '@BitBagSyliusCmsPlugin/Shop/Block/Show/_image.html.twig' %}
    {% elseif null == block.name and null != block.link %}
        <a href="{{ block.link }}">
            {% include '@BitBagSyliusCmsPlugin/Shop/Block/Show/_image.html.twig' %}
        </a>
    {% elseif null != block.name and null == block.link %}
        <div>
            {{ block.name|raw }}
        </div>
        {% include '@BitBagSyliusCmsPlugin/Shop/Block/Show/_image.html.twig' %}
    {% else %}
        <div>{{ block.name|raw }}</div>

        <a href="{{ block.link }}">
            {% include '@BitBagSyliusCmsPlugin/Shop/Block/Show/_image.html.twig' %}
        </a>
    {% endif %}
</div>

{#{% if block.content %}#}
    {#<div class="ui divider"></div>#}
    {#<p>{{ bitbag_cms_render_content(block) }}</p>#}
{#{% endif %}#}
