{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius_cms_plugin.ui.content_elements.title'|trans }}</h4>
            <div class="ui one column stackable grid">
                <div class="column">
                    {{ form_row(form.contentElements) }}
                </div>
            </div>
        </div>
    </div>
</div>
