{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="top one">
        <div class="ui center aligned segment stackable grid">
            <img class="ui image"
                 src="https://raw.githubusercontent.com/bitbager/BitBagCommerceAssets/master/SyliusCmsPlugin.png"
                 alt="SyliusCmsPlugin"/>
        </div>

        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui fluid segment column">
                    {{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'homepage_header_image'})) }}
                </div>
            </div>
            <div class="column">
                <div class="ui fluid segment">
                    {{ bitbag_cms_render_block('homepage_intro') }}
                </div>
            </div>
        </div>
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui fluid segment">
                    {{ bitbag_cms_render_block('homepage_banner_image_1') }}
                </div>
            </div>
            <div class="column">
                <div class="ui fluid segment">
                    {{ bitbag_cms_render_block('homepage_banner_image_2') }}
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable one column grid">
        <div class="column intro">
            {{ bitbag_cms_render_block('homepage_products_info') }}
        </div>
    </div>

    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
