<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

        <style>
            .bitbag-page a, .bitbag-page a:hover {
                color: rgba(0, 0, 0, .87);
                width: 100%;
            }

            .bitbag-image-block a, .bitbag-image-block a:hover, .bitbag-image-block a:focus {
                color: #333333;
            }

            .top.one {
                margin-top: 1rem;
            }

            .bitbag-page, .bitbag-frequently-asked-question {
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(34, 36, 38, .15);
            }

            .bitbag-page:hover {
                background: rgba(0, 0, 0, .03);
            }

            .italic {
                font-style: italic;
            }

            .intro {
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
            }

            .intro.promo {
                text-align: center;
                text-transform: none;
                font-weight: 900;
                font-size: 20px;
            }

            .ui.menu .item > .label.credentials {
                font-size: 14px;
            }

            .cms-logo {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            pre {
                overflow: auto;
            }
        </style>

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
        {{ sylius_template_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<div class="pusher">
    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu">
            {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

            {{ render(controller('sylius.controller.shop.currency_switch::renderAction')) }}
            {{ render(controller('sylius.controller.shop.locale_switch::renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget::renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
    {% endblock %}

    <div class="ui container">
        {% block header %}
            <header>
                {% include '@SyliusShop/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}

                <div class="ui large stackable menu">
                    {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
                    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'about', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
                    <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_index_by_collection_code', {'collectionCode' : 'blog'}) }}"
                       class="item">
                        Blog
                        <span class="ui teal label">NEW</span>
                    </a>
                    <a href="{{ path('bitbag_sylius_cms_plugin_shop_frequently_asked_question_index') }}" class="item">
                        FAQs
                        <span class="ui teal label">NEW</span>
                    </a>
                    <a href="{{ path('sylius_admin_login') }}" class="item">
                        Admin panel
                        <span class="ui label blue credentials">Login: sylius, password: sylius</span>
                    </a>
                </div>
            </header>
        {% endblock %}

        {% include '@SyliusUi/_flashes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
    {{ sylius_template_event('sylius.shop.layout.javascripts') }}
    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
