{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}
<div class="bitbag-cms-import ">
    <form method="POST" enctype="multipart/form-data" action="{{ path('bitbag_sylius_cms_plugin_admin_import_data', {'resourceName': app.request.get('resourceName')}) }}" novalidate="novalidate" class="ui form">

        <div class="ui action input">
            <input type="text" placeholder="{{ 'bitbag_sylius_cms_plugin.ui.csv_file'|trans }}" readonly>

            {{ form_widget(form.file) }}

            <button class="ui teal left labeled icon button">
                <i class="upload icon"></i>
                {{ 'bitbag_sylius_cms_plugin.ui.import'|trans }}
            </button>
        </div>

        {{ form_widget(form._token) }}
    </form>
</div>
