{% from '@BitBagSyliusCmsPlugin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}

{% include '@BitBagSyliusCmsPlugin/Modal/_resourcePreview.html.twig' %}

{% set imageBlock = constant('BitBag\\SyliusCmsPlugin\\Entity\\BlockInterface::IMAGE_BLOCK_TYPE') %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.products) }}
            {{ form_row(form.sections) }}
            {{ form_row(form.channels) }}

            {% if 'image' != resource.type %}
                <a href="#" class="ui labeled button icon primary bitbag-cms-resource-preview" data-url="{{ path('bitbag_sylius_cms_plugin_admin_block_preview', {'type': resource.type}) }}">
                    <i class="eye icon"></i>
                    {{ 'bitbag_sylius_cms_plugin.ui.preview'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="ui one column stackable grid">
    <div class="column" id="bitbag-block-image">
        {{ translationForm(form.translations, resource) }}
    </div>
</div>
