<div class="ui styled fluid accordion">
    <div class="title active">
        <i class="dropdown icon"></i>
        {{ 'bitbag_sylius_cms_plugin.ui.import'|trans }}
    </div>
    <div class="content active">
        {{ form_start(form, {'action': path('bitbag_sylius_cms_plugin_admin_import', {'resourceName': app.request.get('resourceName')}), 'method': 'POST', 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="ui button" type="submit">{{ 'bitbag_sylius_cms_plugin.ui.import_data'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
