{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% if resources.data|length > 0 %}
        {{ render(path('sylius_cms_shop_collection_show', {'code' : app.request.get('collectionCode'), 'template' : '@SyliusCmsPlugin/Shop/Page/Index/_collection.html.twig'})) }}
    {% endif %}
    <div class="ui stackable grid segment">
        <div class="ui sixteen wide column">

            {% if resources.data|length > 0 %}
                <div class="ui one column stackable grid" id="cms-pages">
                    {% for page in resources.data %}
                        <div class="item cms-page">
                            <a href="{{ path('sylius_cms_shop_page_show', {'slug' : page.slug}) }}">

                                <div class="content">
                                    <h3>{{ page.name }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>

                {{ pagination.simple(resources.data) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
