{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" content="{{ page.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ page.name }}</div>
    </div>
    <div class="ui segment">
        <h1 class="ui dividing header bitbag-page-name">{{ page.name }}</h1>

        <div class="bitbag-page-content">{{ page.content|raw }}</div>
        <div class="ui dividing header"></div>
        <strong>
            {{ 'bitbag.ui.sections'|trans }}:
        </strong>
        <div class="bitbag-page-sections">
            {% include '@BitBagSyliusCmsPlugin/Shop/Page/Show/_sections.html.twig' %}
        </div>
    </div>
    {% if null != page.products %}
        <h2>
            {{ 'bitbag.ui.page_related_products'|trans }}
        </h2>
        <div class="bitbag-page-products">
            {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': page.products} %}
        </div>
    {% endif %}
{% endblock %}