{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% if resource.metaKeywords is not empty %}
        <meta name="keywords" content="{{ resource.metaKeywords }}"/>
    {% endif %}
    {% if resource.metaDescription is not empty %}
        <meta name="description" content="{{ resource.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ resource.name }}</div>
    </div>
    <div class="ui segment">
        <h1 class="ui dividing header">{{ resource.name }}</h1>

        <div>{{ resource.content|raw }}</div>
        <div class="ui dividing header"></div>
        <strong>
            {{ 'bitbag.ui.sections'|trans }}:
        </strong>
        {% include '@BitBagCmsPlugin/Shop/Page/Show/_sections.html.twig' %}
    </div>
    {% if null != resource.products %}
        <h2>
            {{ 'bitbag.ui.page_related_products'|trans }}
        </h2>
        {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': resource.products} %}
    {% endif %}
{% endblock %}