{% if page.teaserImage or page.teaserTitle or page.teaserContent %}
    <div class="column">
        <div class="teaser">
            {% if page.teaserImage %}
                <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': page.slug}) }}">
                    <div class="ui image">
                        <img src="{{ page.teaserImage.path|imagine_filter('sylius_admin_product_large_thumbnail') }}"
                             alt="{{ page.teaserTitle }}">
                    </div>
                </a>
            {% endif %}
            <div class="teaser__content">
                {% if page.teaserTitle %}
                    <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': page.slug}) }}">
                        <h3 class="teaser__title">{{ page.teaserTitle }}</h3>
                    </a>
                {% endif %}
                {% if page.teaserContent %}
                    <div class="teaser__description">
                        {{ page.teaserContent }}
                    </div>
                    <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': page.slug}) }}" class="teaser__read-more">
                        {{ 'bitbag_sylius_cms_plugin.ui.read_more'|trans }}...
                    </a>
                    <div class="ui divider"></div>
                    <div>{{ page.createdAt|date('Y-m-d') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
