<div class="ui stackable two column grid">
    {% for column in data %}
        <h2>
            {{ column.section.name }}
        </h2>
        <div class="ui divider"></div>

        {% for row in column %}
            {% if loop.first == false %}
                {% set page = row %}

                <div class="column">
                    <div class="ui fluid segment column">
                        <div class="bitbag-image-block">
                            <div>
                                <h3>
                                    {{ page.nameWhenLinked }}
                                </h3>
                                <p>
                                    {{ page.descriptionWhenLinked }}
                                </p>
                            </div>
                            {% if page.image %}
                                <img class="ui fluid image" src="{{ '/media/image/' ~ page.image.path }}" alt="{{ page.nameWhenLinked }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
