{% for column in data %}
    <h2>
        {{ column.collection.name }}
    </h2>
    <div class="ui divider"></div>

    <div class="ui stackable two column grid">
        {% for row in column %}
            {% if loop.first == false %}
                {% set page = row %}

                <div class="column">
                    <div class="ui fluid segment column">
                        {% if page.image %}
                            <img class="ui fluid image" src="{{ page.image.path }}" alt="{{ page.nameWhenLinked }}">
                        {% endif %}

                        <h3>
                            {{ page.nameWhenLinked }}
                        </h3>
                        <p>
                            {{ page.descriptionWhenLinked }}
                        </p>

                        <a href="{{ path('sylius_cms_shop_page_show', {'slug': page.slug}) }}">{{ 'sylius_cms.ui.read_more'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
