{% if page != null %}
    <a href="{{ path('sylius_cms_plugin_shop_page_show', { slug: page.slug }) }}"
       {% if options.attr is defined %}
            {% for attrname, attrvalue in options.attr %}
                {{ attrname }}="{{ attrvalue }}"
            {% endfor %}
        {% endif %}
    >
        {{ options.name|default(page.nameWhenLinked)|default(page.name) }}
    </a>
{% else %}
    {{ options.notFoundMessage|default('') }}
{% endif %}
