{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}
{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div>
                {{ form_row(form.code) }}
                {{ form_row(form.enabled) }}
                {{ form_row(form.products) }}
                {{ form_row(form.sections) }}
            </div>
        </div>
    </div>
</div>

<div class="ui one column stackable grid">
    <div class="column">
        {{ translationFormWithSlug(form.translations, '@BitBagSyliusCmsPlugin/Page/Crud/_slugField.html.twig', page) }}
    </div>
</div>