{% from '@BitBagSyliusCmsPlugin/Macro/translationForm.html.twig' import translationFormWithSlug %}
{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}

{% include '@BitBagSyliusCmsPlugin/Modal/_resourcePreview.html.twig' %}
{% include '@BitBagSyliusCmsPlugin/Modal/_loadTemplateConfirmation.html.twig' %}

{{ form_errors(form) }}

<div class="ui two column stackable grid" data-bb-target="cms-handle-preview">
    <div class="column">
        <div class="ui segment" data-bb-cms-wrapper>
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.channels) }}
            {{ form_row(form.collections) }}
            {{ form_row(form.publishAt) }}
            <a href="#" data-bb-cms-preview-btn class="ui labeled button icon primary bitbag-cms-resource-preview" data-url="{{ path('sylius_cms_plugin_admin_page_preview', {'id': form.vars.data.id}) }}">
                <i class="eye icon"></i>
                {{ 'sylius_cms_plugin.ui.preview'|trans }}
            </a>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header header-with-help">
                {{ 'sylius_cms_plugin.ui.teaser.header'|trans }}
                <span class="help-text">- {{ 'sylius_cms_plugin.ui.teaser.help'|trans }}</span>
            </h4>
            {{ form_row(form.teaserTitle) }}
            {{ form_row(form.teaserContent) }}
            {{ form_row(form.teaserImage) }}
            {% if page.teaserImage %}
                <div class="ui image">
                    <a href="{{ page.teaserImage.path|imagine_filter('sylius_shop_product_original') }}">
                        <img src="{{ page.teaserImage.path|imagine_filter('sylius_admin_product_small_thumbnail') }}"/>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius_cms_plugin.ui.seo'|trans }}</h4>
            {{ translationFormWithSlug(form.translations, '@BitBagSyliusCmsPlugin/Page/Crud/_slugField.html.twig', page) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius_cms_plugin.ui.content_elements.title'|trans }}</h4>
            {% include '@BitBagSyliusCmsPlugin/Template/form.html.twig' with {ajax_url: path('sylius_cms_plugin_admin_ajax_template_content_by_id', {'id': 'REPLACE_ID'}) } %}
            <div class="ui one column stackable grid">
                <div class="column">
                    {{ form_row(form.contentElements) }}
                </div>
            </div>
        </div>
    </div>
</div>

