{% from '@BitBagSyliusCmsPlugin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@BitBagSyliusCmsPlugin/Form/theme.html.twig' %}

{% include '@BitBagSyliusCmsPlugin/Modal/_resourcePreview.html.twig' %}

{{ form_errors(form) }}

<div class="ui two column stackable grid" data-bb-target="cms-handle-preview">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.channels) }}
            {{ form_row(form.collections) }}
            {{ form_row(form.type) }}
            {{ form_row(form.file) }}
            {{ form_row(form.saveWithOriginalName) }}
            {{ form_row(form.path) }}
        </div>
    </div>
</div>

<div class="ui one column stackable grid">
    <div class="column">
        {{ translationForm(form.translations) }}
    </div>
</div>
