{% from '@SyliusCmsPlugin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@SyliusCmsPlugin/Form/theme.html.twig' %}

{% include '@SyliusCmsPlugin/Modal/_resourcePreview.html.twig' %}

{{ form_errors(form) }}

<div class="ui two column stackable grid" data-bb-target="cms-handle-preview">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.channels) }}
            {{ form_row(form.collections) }}
            {{ form_row(form.type) }}
            {{ form_row(form.file) }}
            {{ form_row(form.saveWithOriginalName) }}
            {{ translationForm(form.translations) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius_cms.ui.preview'|trans }}</h4>
            {{ form_row(form.path) }}

            {% set type = form.type.vars.value %}
            {% if 'image' == type %}
                {% include '@SyliusCmsPlugin/Media/Preview/_image.html.twig' with {'path': form.path.vars.value} %}
            {% elseif 'video' == type %}
                {% include '@SyliusCmsPlugin/Media/Preview/_video.html.twig' with {'path': form.path.vars.value} %}
            {% elseif 'file' == type %}
                {% include '@SyliusCmsPlugin/Media/Preview/_file.html.twig' with {'code': form.code.vars.value} %}
            {% endif %}
        </div>
    </div>
</div>
