{% set path = '/media/image/'~block.image.path %}

{% if null == block.name and null == block.link %}
    <img src="{{ path }}" alt="{{ block.name }}"/>
{% elseif null == block.name and null != block.link %}
    <a href="{{ block.link }}">
        <img src="{{ path }}" alt="{{ block.name }}"/>
    </a>
{% elseif null != block.name and null == block.link %}
    <h4>
        {{ block.name }}
    </h4>
    <img src="{{ path }}" alt="{{ block.name }}"/>
{% else %}
    <h4>{{ block.name }}</h4>
    <a href="{{ block.link }}">
        <img src="{{ path }}" alt="{{ block.name }}"/>
    </a>
{% endif %}