{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="top one">
        <div class="ui center aligned segment stackable grid cms-logo">
            {{ sylius_cms_render_media('specified_products_banner') }}
        </div>
        {{ sylius_cms_render_block('homepage_textarea') }}
        {{ sylius_cms_render_block('homepage_products_carousel') }}
        {{ sylius_cms_render_block('homepage_products_grid') }}
        {{ sylius_cms_render_block('homepage_taxons_list') }}
        {{ sylius_cms_render_block('homepage_products_carousel_by_taxon') }}
        {{ sylius_cms_render_block('homepage_products_grid_by_taxon') }}
    </div>
{% endblock %}
