{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="top one">
        <div class="ui center aligned segment stackable grid cms-logo">
            {{ bitbag_cms_render_media('homepage_logo') }}
        </div>
        {{ bitbag_cms_render_block('homepage_textarea') }}
        {{ bitbag_cms_render_block('homepage_products_carousel') }}
        {{ bitbag_cms_render_block('homepage_products_grid') }}
        {{ bitbag_cms_render_block('homepage_taxons_list') }}
        {{ bitbag_cms_render_block('homepage_products_carousel_by_taxon') }}
        {{ bitbag_cms_render_block('homepage_products_grid_by_taxon') }}
    </div>
    <div class="ui stackable one column grid">
        <div class="column intro promo">
            <div class="ui info message">
                Like it? We do a lot of Sylius projects & plugins. <br/>
                Perhaps there is something we can do for you. Visit <a href="https://bitbag.shop/">our website</a> for
                more information.
            </div>
        </div>
    </div>
{% endblock %}
